header {
    background-color: #f063a9;
    color: #7b56da;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

main{
    background-color: #1b9610;
    color: #338f2e;
    max-width: 800px;
}